<!-- ===== Showreel ===== -->
<section class="showreel" id="showreel">
  <div class="showreel__sticky">
    <figure class="showreel__media" id="showreelMedia">
      <img
        src="/images/showreel-dubai.png"
        alt="Dubai skyline at dusk with Burj Khalifa glowing along the waterfront"
        width="1024"
        height="688"
        loading="lazy"
      />
      <figcaption class="showreel__caption">We the UAE 2031</figcaption>
    </figure>
  </div>
</section>
