<div class="menu-overlay" id="menuOverlay" aria-hidden="true">
  <nav class="menu-overlay__nav" aria-label="Overlay">
    <a href="/"><em>01</em>Home</a>
    <a href="/#studio"><em>02</em>Studio</a>
    <a href="/#work"><em>03</em>Work</a>
    <a href="/services/"><em>04</em>Services</a>
    <a href="/blog/"><em>05</em>Blog</a>
    <a href="/#contact"><em>06</em>Contact</a>
  </nav>
  <div class="menu-overlay__meta">
    <p>(New Projects)</p>
    <a href="mailto:info@vedha.ae">info@vedha.ae</a>
    <p>(Location)</p>
    <p>Dubai, UAE</p>
  </div>
</div>
