<div class="preloader" id="preloader" aria-hidden="true">
  <div class="preloader__inner">
    <img class="preloader__logo-img" src="/images/vedha-logo.png" alt="VEDHA" width="1483" height="158" />
    <span class="preloader__count" id="preloaderCount">0</span>
  </div>
</div>
